@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

p {
    color: red;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 28pt;
}

main,
header,
footer,

nav ul {
    max-width: 50rem;
    margin: 0 auto 0 auto;
}

main {
    background-color: rgb(253, 237, 218);
    border-radius: 10px;

}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    padding: 5pt;
    background-size: cover;
    width: 100%;
    height: 200px;
    background-image: url("/img/restaurantImage.jpg");
    background-color: #ffffff81;
    background-blend-mode: lighten;
    display: flex;
    align-items: center;
}

header h1 {
    width: 50rem;
    margin: 0 auto;
    text-align: center;
    position: absolute;
}



nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: 300;
}

.content {
    font-weight: lighter;
    font-size: 12pt;
    color: brown;
}

#burgers {
    color: beige;
    background-color: black;
    margin-top: 1em;
    padding: 10pt;
    border: 0.4em ridge brown;
    border-radius: 10px;
}

#burgers>div {
    /*display: flex;
    justify-content: center;
    gap: 10pt;
    flex-wrap: wrap;*/
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;

}

.menu-item img {
    width: 100%;
    min-width: 0;
    height: auto;
}


button:hover {
    color: green;
    cursor: pointer;
}

button {
    margin: 5px;
}

/*form {
    padding: 5pt;
}*/

#contact {
    border: 10pt dotted red;
    margin: 5px;
    padding: 10px;
}

#contact div {
    margin: 0;
}

footer {
    font-size: 10pt;
    margin: 5pt;
}